{{yield}}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>

<table>
  <tr>
    <th>Id</th>
    <th>MATNR</th>
    <th>OrderType</th>
    <th>PricePaid</th>
  </tr>
   {{#each purchaseHistory as |historyItem|}}
        <tr>
            <td>
                {{historyItem.properties.ID}}
            </td>
            <td>
                {{historyItem.properties.MATNR}}
            </td>
            <td>
                {{historyItem.properties.OrderType}}
            </td>
            <td>
                {{historyItem.properties.PricePaid}}
            </td>
        </tr>
        {{/each}}
</table>
